[Unit]
Description=Mount /usr into /HOST chroot
Before=google-accounts-daemon.service

[Mount]
What=/usr
Where=/HOST/usr
Type=none
Options=bind

[Install]
WantedBy=multi-user.target

